* {
    font-family: monospace;
}

body {
    margin: 0;
    padding: 0;
    height: auto;
    background-color: #000 !important;
}

.slide {
    height: 100%;
    width: 100%;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.slide.active {
    opacity: 1;
    transform: translateY(0);
}

.slide-content {
    padding: 20px;
}

/*Estilos para el header slide 1*/
.navbar {
    color: #000;
    width: 100%;
    background-color: #000;
}

.navbar-brand img {
    max-width: 120px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.search {
    width: 200px;
    text-align: center;
}

.navbar-toggler {
    color: #000;
    margin-left: auto;
}

.form-container {
    display: flex;
    justify-content: center;
}

.btn-locationwithweather {
    background-color: transparent;
    border: none;
    color: #f4fd1d;
    font-size: 15px;
    font-weight: 900;
    padding: 10px 20px;
    text-align: start;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.btn-locationwithweather img {
    vertical-align: middle;
}

.btn {
    margin-left: 10px;
    color: #fff !important;
    background-color: #000 !important;
    padding: 10px;
}

.btn:hover {
    background-color: #f4fd1d !important;
    color: #000 !important;
    border: 2px solid #fff !important;
}

svg {
    margin-right: 2px;
}

span {
    font-size: 15px;
}

.copyright {
    font-size: 15px;
    margin-bottom: 10px;
}

/*Estilos para el cerrar sesion*/
.modal-close {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-close :where(p) {
    color: #000 !important;
    font-size: 18px;
    font-weight: 600;
    padding: 5px;
    text-align: center;
}

.modal-content-close {
    background-color: #fff;
    width: 30% !important;
    margin: 0 auto;
    margin-top: 300px;
    padding: 20px;
    border: 3px solid #000;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.btn-logout {
    background-color: #000;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 5px;
    width: 50%;
    display: flex;
    margin: 0 auto;
    margin-bottom: 10px;
}

.btn-logout:hover {
    background-color: #f4fd1d;
    border: 2px solid #000;
    color: #000;
}

.btn-logout-cancel {
    background-color: #dc3545;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 5px;
    width: 50%;
    display: flex;
    margin: 0 auto;
}

.btn-logout-cancel:hover {
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
}

/*Estilos para el carrito del nav*/
.container-cart {
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #000;
    z-index: 9999;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: left 0.3s ease;
}

.container-cart.open {
    left: 600px;
}

.titulo-cart {
    color: #000 !important;
    text-align: center;
    margin-top: 50px;
    margin-bottom: -70px;
    font-weight: bold;
}

#lista-carrito {
    margin: 0 auto;
    width: 95%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    animation: fadeIn 0.5s ease-in-out;
    margin-top: 100px;
}

#lista-carrito :where(th, td) {
    padding: 15px;
    text-align: center;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

#lista-carrito :where(th) {
    background-color: #000;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

#lista-carrito tbody tr:hover {
    background-color: #000;
    color: #fff;
}

#lista-carrito :where(tfoot) {
    font-weight: bold;
    background-color: #000;
    color: #fff;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.btn-container {
    text-align: right;
}

.btn-cart {
    margin-top: 30px;
    padding: 5px;
    background-color: #000;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 30px;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    margin-left: 5px;
    margin-bottom: 30px;
}

.btn-cart:hover {
    background-color: #f4fd1d;
    color: #000;
    border-color: #000;
}

/*Estilos del carrito de forma interna es decir que el tbody*/
#carrito-body {
    border-bottom: 2px solid #000;
}

#carrito-body tr {
    transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
}

#carrito-body tr:hover {
    background-color: #000;
    transition: background-color 0.3s ease;
    color: #fff;
}

#carrito-body td {
    padding: 15px;
    text-align: center;
}

#carrito-body .btn-eliminar-producto {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#carrito-body .btn-eliminar-producto:hover {
    background-color: #f4fd1d;
    color: #000;
}

#carrito-body img {
    width: 100px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos para el nav-item */
.nav-item {
    list-style: none;
}

.nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav-link svg {
    margin-right: 5px;
}

.dropdown-nav {
    display: none;
    position: absolute;
    background-color: #000 !important;
    z-index: 1;
    right: 8px;
    border-bottom: 2px solid #f4fd1d !important;
    border-radius: 0 0 30px 30px !important;
    -webkit-border-radius: 0 0 30px 30px !important;
    -moz-border-radius: 0 0 30px 30px !important;
    -ms-border-radius: 0 0 30px 30px !important;
    -o-border-radius: 0 0 30px 30px !important;
}

.dropdown-menu li {
    padding: 10px;
}

.dropdown-menu li a {
    color: #fff !important;
    text-decoration: none;
}

.dropdown-menu li a:hover {
    background-color: #ebf909;
    color: #000 !important;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/*Estilos para el nav pero cuando se active el collapse*/
.collapse.show {
    background-color: #000;
    border-bottom: 3px solid #f4fd1d;
}

.collapse.show .container-sb {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.collapse.show .btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Estilos para el boton perfil*/
#user-menu {
    position: absolute;
    top: 100%;
    /* Posición debajo del botón */
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#user-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#user-menu ul li {
    padding: 8px 10px;
    cursor: pointer;
}

#user-menu ul li:hover {
    background-color: #f0f0f0;
}


/*Estilos del modal*/
.user-panel {
    overflow-y: scroll;
    position: fixed;
    top: 0;
    right: -650px;
    width: 650px;
    height: 100%;
    background-color: #fff;
    color: #000;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: right 0.3s ease;
    z-index: 9999;
}

.user-panel.open {
    right: 0;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #000;
}

.close:hover {
    color: #f4fd1d !important;
}

.container-form {
    width: 350px;
    margin: 0 auto;
    padding: 30px;
    height: auto;
    display: flex;
    justify-content: center;
}

.title-panel {
    text-align: center;
    margin-bottom: 50px;
}

.form-group {
    margin-bottom: 20px;
}

.Form-input {
    margin: 0 auto;
    width: 250px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 3px;
    text-align: center;
    padding: 8px;
}

.btn-form {
    display: flex;
    justify-content: center;
    background-color: #ff6347;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 auto;
}

.btn-form:hover {
    background-color: #ff7f50;
}

.close {
    float: right;
    cursor: pointer;
}

.forgot-password {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    color: #ff7f50 !important;
}

.forgot-password:hover {
    color: #000 !important;
}

.parrafo-panel {
    margin-top: 15px;
    text-align: center;
    color: #000 !important;
}

#register-form {
    display: none;
}

#register-form.visible {
    display: block;
}

#register-link,
#login-link {
    color: #ff6347;
}

#register-link:hover,
#login-link:hover {
    text-decoration: underline;
    color: #ff9900;
}

.contain-panel {
    text-align: center;
}

.beneficios {
    color: #000 !important;
}

.copyright {
    color: #000 !important;
}

.btn-dropdown {
    background-color: transparent !important;
    border: none !important;
    color: #fff !important;
}

.btn-dropdown:hover {
    color: #f4fd1d;
    padding: 5px;
}

/*Estilos para el perfil*/
.main-contain {
    width: 100%;
    height: auto;
    margin-top: 120px;
}

.card-profile {
    width: 65%;
    margin: 0 auto;
    background-color: #000 !important;
    border: 3px solid #ebf909 !important;
    color: #fff !important;
    margin-bottom: 20px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    padding: 40px;
}

.card-profile input {
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.card-body-profile {
    display: flex;
    justify-content: center;
}

.btn-main {
    background-color: #f4fd1d;
    padding: 10px;
    color: #000;
    border: none;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.btn-main:hover {
    background-color: #fff;
    color: #000;
}

/*Estilos para el main*/
.container-Product {
    border: 3px solid #f4fd1d;
    background-color: #000;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.buscador {
    padding: 20px;
}

.form-search {
    border: 3px solid #f4fd1d !important;
    color: #000;
    width: 34%;
    border: none;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.container-Product :where(h4, p) {
    text-align: center;
    color: #fff;
}

.btn-product {
    margin-top: 20px !important;
    background-color: #f4fd1d;
    color: #000;
    padding: 10px;
    display: flex;
    margin: 0 auto;
    width: auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: none;
}

.btn-product:hover {
    background-color: #fff;
    color: #000;
}

/*Estilos para el reloj*/
#clock-container {
    position: fixed;
    bottom: 30px;
    left: 30px;
    border: 4px solid #f4fd1d;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    background-color: #000;
    padding: 10px;
}

#config-button {
    background-color: #000;
    color: #fff;
    border: none;
    border-right: 4px solid #f4fd1d;
    margin-left: -5px;
    margin-right: 10px;
}

#config-button:hover {
    color: #f4fd1d;
}

#clock {
    color: #fff;
}

.dropdown-confi {
    transform: translateY(-272px);
    -webkit-transform: translateY(-272px);
    -moz-transform: translateY(-272px);
    -ms-transform: translateY(-272px);
    -o-transform: translateY(-272px);
    width: 240px;
    left: -10px;
    border-radius: 30px !important;
    -webkit-border-radius: 30px !important;
    -moz-border-radius: 30px !important;
    -ms-border-radius: 30px !important;
    -o-border-radius: 30px !important;
    border-top: 2px solid #f4fd1d !important;
    background-color: #000 !important;
}

.dropdown-menu-end {
    transform-origin: top;
}

.btn-menu {
    background-color: #000;
    border: none;
    color: #fff;
    display: flex;
    align-items: center;
}

.btn-menu:hover {
    color: #f4fd1d;
}

.btn-menu :where(span) {
    font-size: 15px;
    margin-left: 5px;
    text-align: start;
}

/*Estilos para el modal*/
.modal-content {
    top: 120px;
    border: 4px solid #000 !important;
}

.modal-header {
    background-color: #fff;
    width: 100%;
}

#formularioNuevoProducto :where(h5) {
    color: #000;
    font-weight: 950;
    font-size: 20px;
    padding: 15px;
    text-align: center;
}

.modal-body {
    background-color: #fff;
    display: flex;
    justify-content: center;
}

#formularioNuevoProducto {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 10px;
}

.form-modal-input {
    text-align: center;
}

.form-label {
    color: #000;
}

.form-modal {
    margin: 0 auto;
    width: 300px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 3px;
    text-align: center;
    padding: 8px;
}

#formularioNuevoProducto :where(select) {
    width: auto;
    margin: 0 auto;
    background-color: #000;
    color: #fff;
    padding: 10px;
}

.btn-modal {
    background-color: #000;
    color: #fff;
    display: flex;
    margin: 0 auto;
    padding: 15px;
    border: none;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.btn-modal:hover {
    background-color: #f4fd1d;
    color: #000;
}

/*Estilos para la tabla*/
.table-container {
    max-height: 400px;
    overflow-y: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.table-container::-webkit-scrollbar {
    width: 8px;
}

.table-container::-webkit-scrollbar-thumb {
    background-color: #f4fd1d;
    border-radius: 4px;
}

.table-container::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 8px;
}

.table {
    margin: 0 auto;
    width: 95%;
    border-collapse: collapse;
    overflow: hidden;
    animation: fadeIn 0.5s ease-in-out;
}

.table :where(th, td) {
    padding: 15px;
    text-align: center;
    font-weight: 500;
    transition: background-color 0.3s ease;
}


.table :where(th) {
    background-color: #000;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.table tbody tr:hover {
    background-color: #000;
    color: #fff;
}

.table :where(tfoot) {
    font-weight: bold;
    background-color: #000;
    color: #fff;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.celdaImagen img {
    max-width: 100px;
    height: auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.listaProductos {
    border-bottom: 2px solid #000;
}

.listaProductos tr {
    transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
}

.listaProductos tr:hover {
    background-color: #000;
    transition: background-color 0.3s ease;
    color: #fff;
}

.listaProductos td {
    padding: 15px;
    text-align: center;
}

/*Estilos para la tabla user*/
.container-user {
    border: 3px solid #f4fd1d;
    background-color: #000;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

/*Estilos para el formulario user*/
.container-form-user {
    background-color: #fff;
    width: 50%;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    padding: 25px;
    margin: 0 auto;
    border: 2px solid #000;
}

.container-user :where(h4) {
    text-align: center;
    color: #fff;
    padding: 15px;
    font-size: 20px;
}

.container-user :where(p) {
    text-align: center;
    color: #fff;
}

.form-title {
    text-align: center;
}

.form-text {
    text-align: center;
}

.form-group-user {
    margin-bottom: 20px;
}

.Form-input-user {
    display: flex;
    margin: 0 auto;
    width: 250px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 3px;
    text-align: center;
    padding: 8px;
}

.btn-user {
    background-color: #f4fd1d;
    color: #000;
    display: flex;
    margin: 0 auto;
    padding: 15px;
    border: none;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.btn-edit {
    background-color: #000;
    border: none;
    padding: 12px;
    color: #fff;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.btn-edit:hover {
    background-color: #f4fd1d;
    color: #000;
    border: 2px solid #000;
}

.btn-delete {
    background-color: #F62B00;
    border: none;
    padding: 12px;
    color: #fff;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.btn-delete:hover {
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
}

.modal-title {
    color: #000;
    font-weight: 950;
    font-size: 20px;
    padding: 15px;
    text-align: center;
}

.btn-save {
    background-color: #000;
    border: none;
    padding: 12px;
    color: #fff;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.btn-cancel {
    background-color: #f4fd1d;
    border: none;
    padding: 12px;
    color: #000;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

/*Estilos para el alert*/
.Alerta-custom {
    position: fixed;
    top: 0;
    width: auto;
    left: 50%;
    padding: 15px;
    background-color: #f4fd1d;
    font-size: 15px;
    color: #000;
    border: 3px solid #000;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    z-index: 9999;
    opacity: 0;
    animation: slideIn 0.3s forwards, fadeOut 2s forwards;
    text-align: center;
    font-weight: bold;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

@keyframes slideIn {
    from {
        top: -100px;
        opacity: 0;
    }

    to {
        top: 20px;
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/*Estilos para el footer*/
.footer {
    background-color: #fff;
    color: #000 !important;
    margin-top: 15%;
    border-radius: 105px 105px 0 0;
    -webkit-border-radius: 105px 105px 0 0;
    -moz-border-radius: 105px 105px 0 0;
    -ms-border-radius: 105px 105px 0 0;
    -o-border-radius: 105px 105px 0 0;
}

.container-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.contact {
    margin-top: 30px;
}

.contact h5 {
    font-size: 25px;
    margin-left: 60px;
}

.contact p {
    margin-top: 10px;
}

.formulario-vip {
    margin-top: 30px;
}

.form {
    text-align: center;
}

.input-group {
    max-width: 400px;
    margin: 0 auto;
}

.form-control {
    border: 4px solid #ebf909;
    text-align: center;
}

.btn-footer {
    background-color: #f4fd1d;
    color: #000;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.btn-footer:hover {
    background-color: #fff;
    color: #000;
    border: 6px solid #f4fd1d;
    padding: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.copyright {
    text-align: center;
    margin-top: 30px;
    margin-right: 30px;
}

.copyright :where(h6) {
    color: #000;
    font-weight: 400;
    padding: 10px;
}

/*Media Queries para responsividad*/
@media screen and (max-width: 768px) {

    /*Estilos para el panel de usuario y carrito*/
    .user-panel {
        width: 438px;
        border-radius: 225px 0 0 225px;
        -webkit-border-radius: 225px 0 0 225px;
        -moz-border-radius: 225px 0 0 225px;
        -ms-border-radius: 225px 0 0 225px;
        -o-border-radius: 225px 0 0 225px;
    }

    #login-form {
        margin-top: 165px;
    }

    #registration-form {
        margin-top: 60px;
    }

    .titulo-cart {
        margin-top: 160px;
        margin-bottom: -120px;
    }

    #lista-carrito {
        margin: 0 auto;
        width: 98%;
        border-collapse: collapse;
        border-radius: 10px;
        overflow: hidden;
        animation: fadeIn 0.5s ease-in-out;
        margin-top: 150px;
    }

    .title-panel {
        background-color: #000;
        padding: 10px;
        color: #fff;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
    }

    .beneficios {
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }

    .copyright {
        text-align: center;
        width: 97%;
        margin: 0 auto;
    }

    /*Estilos para el main perfil, cards y historial*/
    .card-profile {
        width: 100%;
    }

    .card-body-profile {
        display: flex;
        margin: 0 auto;
    }

    .card-body-profile :where(svg) {
        width: 100px;
        height: 100px;
        margin-top: 50px;
        margin-left: -50px;
    }

    /*Estilos para el buscador*/
    .form-search {
        width: 90% !important;
    }

    /*Estilos para el container productos*/
    .container-Product {
        margin-bottom: 20px;
    }

    .table :where(th) {
        font-size: 10px;
        font-weight: 900;
    }

    .card-img-top {
        width: 250px !important;
        height: auto !important;
        margin-top: 20px;
    }

    /*Estilos para agregar usuarios*/
    .container-form-user {
        background-color: #fff;
        width: 100%;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
        padding: 25px;
        margin: 0 auto;
        border: 2px solid #000;
    }

    .btn-edit {
        background-color: #000;
        border: none;
        margin-bottom: 5px;
        padding: 10px;
        color: #fff;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
    }

    .btn-delete {
        background-color: #F62B00;
        border: none;
        padding: 10px;
        color: #fff;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
    }

    /*Estilos para la API clock*/
    #clock-container {
        z-index: 9999;
    }

    /*Estilos para el footer*/
    .footer .container {
        text-align: center;
    }

    .footer .container .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer .container .col-md-6 {
        width: 100%;
        margin-bottom: 20px;
    }

    .form :where(h5) {
        margin-bottom: -20px;
        font-weight: 600;
        transform: uppercase;
        -webkit-transform: uppercase;
        -moz-transform: uppercase;
        -ms-transform: uppercase;
        -o-transform: uppercase;
    }

    .contact :where(h5) {
        text-align: center;
        margin-bottom: 20px;
        font-weight: 600;
        transform: uppercase;
        -webkit-transform: uppercase;
        -moz-transform: uppercase;
        -ms-transform: uppercase;
        -o-transform: uppercase;
    }

    .contact :where(p) {
        display: flex;
        margin: 0 auto;
        margin-bottom: 5px;
    }

    .contact :where(a) {
        padding: 5px;
    }
}