/*Estilos para el container check*/
.container-check {
    margin-top: 160px;
    display: flex;
    flex-wrap: wrap;
}

.container-view {
    margin: 0 auto;
    width: 50%;
    background-color: #fff !important;
    padding: 50px;
    border: 4px solid #f4fd1d;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    margin-right: -50px;
}

/* Estilo para el despacho */
.despacho {
    text-align: center;
}

.despacho :where(h2) {
    font-size: 24px;
    margin-bottom: 20px;
}

.label-content {
    display: inline-block;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 10px 20px;
    transition: all 0.3s ease;
    background-color: #000;
    color: #fff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.label-content:hover {
    transform: translateY(-3px);
    background-color: #fff;
    border: 2px solid #000;
    color: #000;
}

.select-content {
    display: none;
}

.select-content:checked+.label-content {
    color: #fff;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.select-content:checked+.label-content {
    animation: pulse 0.5s infinite alternate;
}

/* Estilos generales */
.formulario-despacho {
    display: none;
    text-align: center;
}

.formulario-despacho h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.formulario-despacho form {
    max-width: 400px;
    margin: 0 auto;
}

.formulario-despacho div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
}

.formulario-despacho label {
    flex: 1;
    text-align: right;
    margin-right: 10px;
}

.formulario-despacho input[type="text"],
.formulario-despacho select,
.formulario-despacho textarea {
    flex: 2;
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formulario-despacho button[type="submit"] {
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formulario-despacho button[type="submit"]:hover {
    background-color: #0056b3;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.formulario-despacho.show {
    display: block;
    animation: slideIn 0.5s ease forwards;
}

.delivery-container {
    background-color: #fff !important;
    margin: 0 auto;
    padding: 80px;
    border: 4px solid #f4fd1d;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.checkout {
    background-color: #fff !important;
    margin: 0 auto;
    padding: 80px;
    margin-top: 10px;
    width: 50% !important;
    border: 4px solid #f4fd1d;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

/*Estilos para el cerrar sesion*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal :where(p) {
    color: #000 !important;
    font-size: 18px;
    font-weight: 600;
    padding: 5px;
}

.modal-content {
    background-color: #fff;
    width: 30% !important;
    margin: 0 auto;
    margin-top: 300px;
    padding: 20px;
    border: 3px solid #000;
}

.btn-logout {
    background-color: #000;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 5px;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.btn-logout:hover {
    background-color: #f4fd1d;
    border: 2px solid #000;
    color: #000;
}

.btn-logout-cancel {
    background-color: #dc3545;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 5px;
    width: 50%;
    margin: 0 auto;
}

.btn-logout-cancel:hover {
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
}

/*Estilos para el carrito*/
.container-cart {
    background-color: #fff;
    width: 50%;
    margin: 0 auto;
    margin-top: 250px;
    border-radius: 30px;
    padding: 20px;
}

.titulo-cart {
    color: #000;
    text-align: center;
    margin-bottom: -90px;
}

#lista-carrito {
    margin: 0 auto;
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 100px;
    animation: fadeIn 0.5s ease-in-out;
}

#lista-carrito :where(th, td) {
    padding: 15px;
    text-align: center;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

#lista-carrito :where(th) {
    background-color: #000;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

#lista-carrito tbody tr:hover {
    background-color: #000;
    color: #fff;
}

#lista-carrito :where(tfoot) {
    font-weight: bold;
    background-color: #000;
    color: #fff;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.btn-eliminar-producto {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-eliminar-producto:hover {
    background-color: #f4fd1d;
    color: #000;
}

/*Estilos para el checkout*/
.checkout {
    background-color: #000;
    width: 100%;
    border-radius: 20px;
    padding: 30px;
}

.btn-menu {
    background-color: #000;

}

.btn-menu:hover {
    color: #f4fd1d;
}

@media screen and (max-width: 768px) {}