/* Estilos para los mensajes */
.messages {
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
    padding: 0;
    margin: 0;
    width: 40%;
    z-index: 1000;
}

.messages li {
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.messages li.success {
    background-color: #f4fd1d;
    color: #000;
    border: 1px solid #fff;
    padding: 10px;
}

.messages li.error {
    background-color: #f2dede;
    color: #a94442;
    border: 1px solid #ebccd1;
}

/* Estilos para el resumen de la compra */
.container-checkout {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 20px;
}

.container-checkout h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.subtotal,
.iva,
.total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.total {
    font-weight: bold;
}

/* Estilos para botones */
.btn-clean {
    background-color: #fd1d1d;
    border: none;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: #fff;
    transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
}

.btn-clean:hover {
    background-color: #000;
}

/*Estilos para el carrito*/
.card-img-top {
    max-width: 80px;
    height: auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    object-fit: cover;
}

#lista-carrito thead {
    display: table;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
}

#lista-carrito tbody {
    display: table;
    width: 100%;
}

#lista-carrito tr {
    display: table-row;
}

.container-check {
    margin-top: 20px;
}

.container-view {
    display: flex;
    justify-content: space-between
}

.cart-form,
.cart-content {
    width: 50%;
    margin: 0 auto;
    margin-top: 0;
}

.cart-content {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    width: 60%;
}

#lista-carrito {
    border-collapse: collapse;
    overflow-y: auto;
    display: block;
    width: 100%;
    table-layout: fixed;
    max-height: 450px;
    overflow-y: auto;
    margin-bottom: 20px;
}

#lista-carrito th,
#lista-carrito td {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    display: table-cell;
    border-bottom: 1px solid #eee;
}


/*Estilos para el contenedor de no estar iniciado*/
.container-logged {
    text-align: center;
    margin-top: 20px;
    background-color: #fff;
    width: 50%;
    margin: 0 auto;
    padding: 30px;
    margin-top: 5%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.btn-loged {
    margin-top: 15px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-loged:hover {
    background-color: #f4fd1d;
    color: #000;
    border: 2px solid #000;
}

.or {
    display: inline-block;
    margin: 0 10px;
    font-size: 20px;
}

.message-login {
    display: block;
    margin-bottom: 20px;
    color: #000;
}

.login-options {
    display: inline-block;
}

/*Estilos para el formulario*/
.cart-form {
    background-color: #fff;
}

.cart-form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-delivery {
    font-size: 24px;
    margin-bottom: 20px;
}

.bi-truck {
    vertical-align: middle;
    margin-left: 5px;
}

.form-delivery {
    margin-top: 20px;
    width: 100%;
    max-width: 500px;
}

.form-group {
    margin-bottom: 20px;
    width: 100%;
}

.custom-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.custom-input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
    text-align: center;
}

.btn-next {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    font-weight: 900;
}

.btn-next:hover {
    background-color: #f4fd1d;
    color: #000;
    border: 2px solid #000;
}

/*Estilos para el footer*/
.footer {
    width: 100%;
    bottom: 0;
    background-color: #fff;
    color: #000 !important;
    margin-top: 15%;
    border-radius: 105px 105px 0 0;
    -webkit-border-radius: 105px 105px 0 0;
    -moz-border-radius: 105px 105px 0 0;
    -ms-border-radius: 105px 105px 0 0;
    -o-border-radius: 105px 105px 0 0;
}

.container-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.contact {
    margin-top: 30px;
}

.contact h5 {
    font-size: 25px;
    margin-left: 60px;
}

.contact p {
    margin-top: 10px;
}

.formulario-vip {
    margin-top: 30px;
}

.form {
    text-align: center;
}

.input-group {
    max-width: 400px;
    margin: 0 auto;
}

.form-control {
    border: 4px solid #ebf909;
    text-align: center;
}

.btn-footer {
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.btn-footer:hover {
    background-color: #fff;
    color: #000;
    border: 6px solid #f4fd1d;
    padding: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.copyright {
    text-align: center;
    margin-top: 30px;
    margin-right: 30px;
}

.copyright :where(h6) {
    color: #000;
    font-weight: 400;
    padding: 10px;
}