/*Estilos para el carrito*/
.cart-counter {
    position: absolute;
    margin-left: 5px;
    background-color: #fff;
    color: #000;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 15px;
    min-width: 20px;
    text-align: center;
}

/*Estilos para el exito*/
.container-exito {
    width: 100%;
    height: auto;
    padding: 70px;
}

/*Estilos para la tabla*/
.container-table {
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    overflow: hidden;
    max-height: 800px;
    overflow-y: auto;
}

.container-table::-webkit-scrollbar {
    width: 8px;
}

.container-table::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.container-table::-webkit-scrollbar-thumb {
    background: #f4fd1d;
    border-radius: 4px;
}

.container-table h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #000;
    font-weight: bolder;
}

.tabla-productos {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
}

.tabla-productos th,
.tabla-productos td {
    padding: 12px;
    text-align: center;
    background-color: #f2f2f2;
}

.tabla-productos th {
    color: #000;
    font-size: 15px;
}

.tabla-productos :where(img) {
    max-width: 100px;
    max-height: 100px;
    border-radius: 5px;
    transition: transform 0.3s ease;
    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -ms-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
}

.tabla-productos img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

/*Estilos para la informacion del resumen*/
.container-info {
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container-info :where(h2) {
    font-size: 30px;
    font-weight: bolder;
}

.container-info :where(svg) {
    color: #1dfd26;
}

.container-info :where(p) {
    font-size: 15px;
    text-align: start;
    font-weight: 400;
}

.container-body {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

.container-body :where(p) {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.detalle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.etiqueta {
    font-weight: bold;
    color: #000;
    font-size: 20px;
}

.valor {
    color: #000;
    font-size: 20px;
}