/*Estilos para el carrito*/
.cart-counter {
    position: absolute;
    margin-left: 5px;
    background-color: #fff;
    color: #000;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 15px;
    min-width: 20px;
    text-align: center;
}

/*estilos para el slide*/
.slide {
    height: 100%;
    width: 100%;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    margin-bottom: 50px;
}

.slide.active {
    opacity: 1;
    transform: translateY(0);
}

.slide-content {
    padding: 50px;
}

/*Estilo sobre nosotros*/
.acerca-nosotros {
    padding: 15px;
    margin-top: 50px;
    border-top: 6px solid #ebf909;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.container-acerca-nosotros {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
}

.container-acerca-nosotros:hover {
    transform: scale(1.05);
}

/*Estilos para el formulario de contacto*/
.container-contacto {
    align-items: center;
}

/*Estilos para el SLIDE2*/
.container-equipo-funcionamiento {
    padding: 20px;
}

.content {
    border-right: 3px solid #f4fd1d;
    padding: 20px;
}

.content2 {
    padding: 20px;
}

.text-container {
    margin-bottom: 20px;
}

.text-container :where(h1) {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff;
    font-weight: 900;
}

.text-container :where(h2) {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff;
    font-weight: 900;
}

.text-container :where(p) {
    text-align: center;
    font-size: 15px;
    margin-bottom: 10px;
    color: #fff;
}

.text-container :where(h3) {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 50px;
    color: #fff;
    text-align: center;
}

.text-container :where(ul) {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    width: 100%;
    justify-content: center;
}

.text-container :where(li) {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 5px;
}

.btn-a {
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

li:hover {
    background-color: #f4fd1d;
    color: #000;
}

.title-slide {
    text-align: center;
    font-size: 50px;
    padding: 10px;
    border-top: 2px solid #f4fd1d;
    border-bottom: 2px solid #f4fd1d;
    color: #fff;
    font-weight: 900;
}

/* Clearfix para el contenedor */
.container-equipo-funcionamiento::after {
    content: "";
    display: table;
    clear: both;
}


/*Estilos para el equipo*/
.team-member {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.member-info {
    flex: 2;
    padding: 20px;
}

.member-info :where(h3) {
    color: #fff;
    font-size: 40px;
    font-weight: 900;
}

.member-image {
    flex: 1;
    text-align: center;
}

.member-info :where(img) {
    max-width: 100%;
    height: auto;
}

.member-info :where(p) {
    color: #fff;
    font-size: 15px;
    text-align: start;
}

.link-social {
    text-align: center;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-top: 60px;
    padding: 10px;
}

.link-social :where(h1) {
    font-size: 25px;
    margin-bottom: 20px;
}

.link-social :where(a) {
    display: inline-block;
    margin-bottom: 10px;
}

.link-social svg {
    width: 50px;
    height: 50px;
    fill: #000;
    transition: fill 0.3s ease;
}

.link-social a:hover svg {
    fill: #000;
}

.link-social a:hover {
    text-decoration: none;
}