{% extends "base.html" %}

{% load static %}

{% block head %}
    <title>SpartSagan - checkout</title>
{% endblock %}

{% block estilos %}
    <link rel="stylesheet" href="{% static 'CSS/checkout.css' %}">
    <script src="https://sdk.mercadopago.com/js/v2"></script>
{% endblock estilos %}

{% block navItems %}
<div class="container-sb d-flex align-items-center mx-auto">
    <button id="getLocationBtn" class="btn-locationwithweather">Ubicación <svg
            xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
            class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
            <path
                d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6" />
        </svg></button>
        <a class="btn" href="/Restaurant"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
            <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
          </svg> <span>Volver</span>
        </a>
    <a class="btn" href="/contacto"><svg xmlns="http://www.w3.org/2000/svg" width="25"
            height="25" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
            <path
                d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1z" />
        </svg><span>Quienes Somos?</span>
    </a>
</div>
<div class="dropdown">
    {% if user.is_authenticated %}
    <button class="btn" id="user-btn" data-bs-toggle="dropdown" aria-expanded="false">
        <img width="30" height="30" src="https://img.icons8.com/external-flaticons-flat-flat-icons/64/external-helmet-ancient-greek-mythology-monsters-and-creatures-flaticons-flat-flat-icons.png" alt="external-helmet-ancient-greek-mythology-monsters-and-creatures-flaticons-flat-flat-icons"/><span>Bienvenido <strong>{{ user.username }}</strong></span>
    </button>
    {% else %}
    <button class="btn" id="user-btn" data-bs-toggle="dropdown" aria-expanded="false">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
            class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
            <path fill-rule="evenodd"
            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
        </svg><span>Identificarse</span>
    </button>
    {% endif %}

    <ul class="dropdown-menu">
        {% if user.is_authenticated %}
        <li><a class="dropdown-item" href="{% url "profile" %}" id="ver-perfil">Ver Perfil</a></li>
        <li><a class="dropdown-item" href="{% url "account_logout" %}" id="cerrar-sesion">Cerrar Sesión</a></li>
        {% else %}
        <li><a class="dropdown-item" href="{% url "account_login" %}">Iniciar Sesión</a></li>
        <li><a class="dropdown-item" href="{% url "account_signup" %}">Registrarse</a></li>
    {% endif %}
    </ul>
</div>
{% endblock navItems %}

{% block content %}
<form id="form-checkout" action="{% url 'process_payment' %}" method="POST">
    {% csrf_token %}
    <div id="form-checkout__cardNumber" class="container"></div>
    <div class="row">
        <div id="form-checkout__expirationDate" class="container col"></div>
        <div id="form-checkout__securityCode" class="container col"></div>
    </div>
    <input type="text" id="form-checkout__cardholderName" placeholder="Titular de la tarjeta" />
    <select id="form-checkout__issuer" name="issuer">
      <option value="" disabled selected>Banco emisor</option>
    </select>
    <select id="form-checkout__installments" name="installments">
      <option value="" disabled selected>Cuotas</option>
    </select>
    <select id="form-checkout__identificationType" name="identificationType">
      <option value="" disabled selected>Tipo de documento</option>
    </select>
    <input type="text" id="form-checkout__identificationNumber" name="identificationNumber" placeholder="Número do documento" />
    <input type="email" id="form-checkout__email" name="email" placeholder="E-mail" />

    <input id="token" name="token" type="hidden">
    <input id="paymentMethodId" name="paymentMethodId" type="hidden">
    <input id="transactionAmount" name="transactionAmount" type="hidden" value="{{ total_carrito }}">
    <input id="description" name="description" type="hidden" value="Nome do Produto">

    <button type="submit" id="form-checkout__submit">Pagar</button>
  </form>
{% endblock content %}


{% block script %}
<script src="{% static "js/MercadoPago.js" %}"></script>
{% endblock script %}